#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec= /usr/bin/asana https://app.asana.com/0/home
Name=Asana
Comment=An app to help teams manage their work
Icon=/home/loki/Documents/core/software/fresh/C/asana-for-linux/assets/asana-logo-round.png
